body {
    background-color: black;
    font-family: 'Fasthand', cursive;
}

.Logo {
    padding-right: 2%;
    padding-left: 1%;
}

.logo {
    height: 100px;
}

.collapse.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}

#carouselExampleIndicators {
    object-fit: contain;
    height: 80%;
    width: 60%;
    margin-top: 5%;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.imagenes {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 2%;
}


/*Menu Caliente, Frio, Bebidas*/

.contenido_precios {
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 2%;
}


/*Columnas*/

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2%;
}

.column-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.column-4 {
    width: 20%;
    box-sizing: border-box;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 4%;
}

.column-4_2 {
    width: 22%;
    box-sizing: border-box;
    object-fit: cover;
    margin-top: 7%;
    display: flex;
}

.column-4_2#img1 {
    margin-left: 6%;
}

.column-4_3 {
    width: 22%;
    box-sizing: border-box;
    object-fit: cover;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(255, 255, 255), rgb(163, 163, 163), rgb(104, 104, 104), rgb(40, 40, 40));
}

.column-4_3#img1 {
    margin-left: 6%;
}

@media only screen and (max-width: 1080px) {
    .navbarNav {
        display: none;
    }
    #carouselExampleIndicators {
        height: auto;
        width: auto;
        margin-top: 5%;
    }
    .column-4 {
        width: 46%;
        margin-top: 2%;
        margin-left: 4%;
    }
    .column-4_2 {
        width: 45%;
        margin-top: 2%;
    }
    .column-4_2#img3 {
        margin-left: 6%;
    }
    .column-4_3 {
        width: 45%;
    }
    .column-4_3#img3 {
        margin-left: 6%;
    }
}

@media only screen and (max-width: 650px) {
    .column-4 {
        width: 95%;
        box-sizing: border-box;
        object-fit: cover;
        margin-top: 2%;
        margin-left: 5%;
    }
    .column-4_2 {
        width: 93%;
        margin-top: 2%;
    }
    .column-4_2#img2,
    #img3,
    #img4 {
        margin-left: 6%;
    }
    .column-4_3 {
        width: 93%;
    }
    .column-4_3#img2,
    #img3,
    #img4 {
        margin-left: 6%;
    }
}